<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/site/head.ejs') %>
</head>
<body>
    <%- include ('../partials/site/nav.ejs') %>
    <% currentProject.forEach(element => { %>
        <a href="/prjctr/project/<%= element.id %> ">
            <%= element.projectName %>
        </a>
        <form action="/prjctr/project/<%=element.id%>?_method=delete" method="post">
            <input type="submit" value="Delete Project" class="button" id="deleteButton">
        </form>
    <% }) %>
</body>
</html>