<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/site/head.ejs') %>
</head>
<body>
    <%- include ('../partials/site/nav.ejs') %>
    <h1><%= currentProject.projectName %> </h1>
    <%- include ('../partials/project/projDelete.ejs') %>
    <a href="/prjctr/project/<%= currentProject.id%>/edit">Edit Project</a>
    <h2>
        Due Date: <%
        if (currentProject.dueDate) {
            shortDate = moment(currentProject.dueDate).format('dddd, MMMM Do, YYYY')
        } else {
            shortDate = 'Not Set.'
        }
        %>
        <%= shortDate %> 
    </h2>
    <h2>
        Days from now: <%
        countDown = moment(currentProject.dueDate).format('YYYYMMDD')
        countDown = moment(countDown).fromNow()
        %> 
        <%= countDown %>
    </h2>
    <h3>Status: <% if(currentProject.complete) { %>
        Completed
    <%} else { %>
        Incomplete
    <% } %>
    </h3>
    <p>
        <%= currentProject.description %> 
    </p>
    <h3?>
        Current Tasks:
    </h3>
    <% if (currentProject.tasks.length == 0) { %>
        <p>
            No tasks assigned.
        </p>
    <% } %>
    <ul>
        <% currentProject.tasks.forEach(element => { %>
            <li>
                <% if (edit) { %>
                    <% if (currentTask == element.id) { %>
                        <!-- Edit Task Form -->
                            <form action="/prjctr/project/task/<%=currentProject.id%>/  <%=element.id%>?_method=put" method="post">
                                <input type="text" name="task" class="form-control" value="<%=element.task%>">
                                <input type="submit" value="Save" class="button" id="taskDeleteButton">
                            </form>
                    <% } else { %>
                        <%= element.task %> 
                        <%= element.complete %>
                    <% } %>
                <% } else { %>
                    <%= element.task %> 
                    <%= element.complete %>
                <!-- Delete Task Button-->
                    <form action="/prjctr/project/task/<%=currentProject.id%>/<%=element.id%>?_method=delete" method="post">
                        <input type="submit" value="Delete Task" class="button" id="taskDeleteButton">
                    </form>
                <!-- Edit Task Button-->
                    <a href="/prjctr/project/task/<%=currentProject.id%>/<%=element.id%>">Edit Task</a>
                    <% } %>
            </li>
        <% }) %>
    </ul>
    <% if (edit == false) { %>
        <%- include ('../partials/project/taskForm.ejs') %>
    <% } %>
</body>
</html>