<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/site/head.ejs') %>
</head>
<body>
    <h1>Test</h1>
    <%- include ('../partials/site/nav.ejs') %>
    <h1><%= currentProject.projectName %> </h1>
    <div class="sideBySide">
        <%- include ('../partials/project/projDelete.ejs') %>
        <a href="/prjctr/project/<%= currentProject.id%>/edit" class='w3-button w3-blue w3-hover-red w3-round-large w3-small sideBySide'>Edit Project</a>
    </div>
    <h2>
        Due Date: <%
        if (currentProject.dueDate) {
            shortDate = moment(currentProject.dueDate).format('dddd, MMMM Do, YYYY')
        } else {
            shortDate = 'Not Set.'
        }
        %>
        <%= shortDate %> 
    </h2>
    <h2>
        Days from now: <%
        countDown = moment(currentProject.dueDate).format('YYYYMMDD')
        countDown = moment(countDown).fromNow()
        %> 
        <%= countDown %>
    </h2>
    <!-- Project Status -->
    <h3>Status: <% if(currentProject.complete) { %>
        Completed
    <%} else { %>
        Incomplete
    <% } %>
    </h3>
    <!-- Update Project Status -->
    <form action="/prjctr/project/complete/<%=currentProject.id%>?_method=put" method="post">
        <input type='submit' value='Complete' class='w3-button w3-blue w3-hover-red w3-round-large w3-small'>
    </form>
    <p>
        <%= currentProject.description %> 
    </p>
    <h3?>
        Current Tasks:
    </h3>
    <% if (currentProject.tasks.length == 0) { %>
        <p>
            No tasks assigned.
        </p>
    <% } %>
    <ul>
        <% currentProject.tasks.forEach(element => { %>
            <li>
                <div class='sideBySide'>
                    <% if (edit) { %>
                        <% if (currentTask == element.id) { %>
                            <!-- Edit Task Form -->
                                <form action="/prjctr/project/task/<%=currentProject.id%>/  <%=element.id%>?_method=put" method="post">
                                    <input type="text" name="task" class="form-control" value="<%=element.task%>">
                                    <input type="submit" value="Save" class='w3-button w3-blue w3-hover-red w3-round-large w3-small space'>
                                </form>
                                <a href="/prjctr/project/<%=currentProject.id%>" class='w3-button w3-blue w3-hover-red w3-round-large w3-small space'>Cancel</a>
                        <% } else { %>
                            <%= element.task %> 
                            <% if (element.complete) { %>
                                Complete
                            <% } else { %>
                                Incomplete
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <%= element.task %> 
                        <% if (element.complete) { %>
                            Complete
                        <% } else { %>
                            Incomplete
                        <% } %>
                        <!-- Complete Task Button -->
                        <form action="/prjctr/project/task/complete/<%=currentProject.id%>/  <%=element.id%>?_method=put" method="post">
                            <input type="submit" value="Complete" class='w3-button w3-blue w3-hover-red w3-round-large w3-small space'>
                        </form>
                    <!-- Delete Task Button-->
                        <form action="/prjctr/project/task/<%=currentProject.id%>/<%=element.id%>?_method=delete" method="post">
                            <input type="submit" value="Delete Task"  class='w3-button w3-blue w3-hover-red w3-round-large w3-small space' id="taskDeleteButton">
                        </form>
                    <!-- Edit Task Button-->
                        <a href="/prjctr/project/task/<%=currentProject.id%>/<%=element.id%>" class='w3-button w3-blue w3-hover-red w3-round-large w3-small space'>Edit Task</a>
                        <% } %>
                </div>
            </li>
        <% }) %>
    </ul>
    <% if (edit == false) { %>
        <%- include ('../partials/project/taskForm.ejs') %>
    <% } %>
</body>
</html>