<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/site/head.ejs') %>
</head>
<body>
    <div>
        <%- include ('../partials/site/nav.ejs') %>
        <div class="center-things">
            <h1 class="sub-title">
                <%= tabTitle %>
            </h1>
        </div>
        <h3 class="center-things">
            <%= problem %>
        </h3>
        <%- include ('../partials/user/userForm.ejs') %>
    </div>
</body>
</html>